.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1495808985667-ba4ce2ef31b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
}

.App-header {
  overflow: visible;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.Messages-list {
  background: rgb(240, 240, 240, 0.2);
  border-radius: 30px;
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
  color: aliceblue;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
  padding: 10px;
}

.Messages-message.currentMember {
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
  text-align: right;
  padding: 10px;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.Message-content > .username {
  display: block;
  color: gray;
  font-size: 14px;
  padding-bottom: 4px;
}

.Message-content > .text {
  padding: 15px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: cornflowerblue;
  color: white;
  display: inline-block;
}

.currentMember > .Message-content .text {
  background-color: orangered;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

input {
  padding: 15px;
  font-size: 15px;
  border-radius: 80px;
  border: 1px solid rgb(110, 35, 8);
  flex-grow: 1;
}

button {
  height: auto;
  width: 75px;
  position: relative;
  border-radius: 80px;
  border: 2px solid rgb(110, 35, 800);
}

.positioning-container-chat {
  position: relative;
  transform: translate(-50%, 0);
}

.positioning-container-chat-actions {
  position: relative;
  top: 20%;
  left: 58%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
}

.actions {
  position: absolute;
}

.action {
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
}

.action i {
  color: rgba(245, 238, 240, 0.986);
  font-size: 28px;
  transition: all 300ms ease-in-out;
  padding: 3px;
}
